/*Simple Responsive Tables Mixin
Inspiration: http://dbushell.com/2016/03/04/css-only-responsive-tables/*/
.largetable {
    position: relative;
}

.largetable-scroller {
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
}

.largetable:before, .largetable:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
}

.largetable:before {
    left: 0;
    box-shadow: inset 30px 0px 10px -30px #424242;
}

.largetable:after {
    right: 0;
    box-shadow: inset -30px 0px 10px -30px #424242;
}

.largetable-shadow-left:before, .largetable-shadow-right:after {
    width: 30px;
}
